body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f2f2f2;
}

.navbar {
    background: #000;
    color: #fff;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
}

.container {
    width: 600px;
    margin: auto;
}

.post-box textarea {
    width: 100%;
    height: 80px;
}

.post-box, .post {
    background: white;
    padding: 15px;
    margin: 15px 0;
    border-radius: 5px;
}

.post img, video {
    width: 100%;
    border-radius: 5px;
}

.action a {
    margin-right: 15px;
}

.comment box {
    display: flex;
    margin-top: 10px;
}

.comment box input {
    flex: 1;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    background: white;
    padding: 30px;
    border-radius: 8px;
    width: 300px;
}

.box input, .box button {
    width: 100%;
    margin-top: 10px;
    padding: 8px;
}

.chat box {
    width: 400px;
    margin: auto;
    margin-top: 50px;
    background: white;
    padding: 20px;
}

.chat-area {
    height: 300px;
    overflow-y: scroll;
    margin-bottom: 10px;
}

.me {
    text-align: right;
    background: #dcf8c6;
    margin: 5px;
    padding: 5px;
}

.you {
    text-align: left;
    background: #eee;
    margin: 5px;
    padding: 5px;
}