<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="container">

    <h2>@{{ user[0] }}</h2>
    <p>{{ followers }} followers | {{ following }} following</p>

    {% if user.photo %}
        <img src="{{ url_for('static', filename='uploads/' + user.photo) }}" width="100" alt="">
    {% endif %}

    <h2>@{{ user.name or user.username }}</h2>
    <p> {{ user.bio }}</p>

    {% if user.id == session[user_id] %}
        <a href="/edit_profile.html"> Edit Profile</a>
    {% endif %}

    {% if uid != session['user_id'] %}
        <a href="/follow/{{ uid }}"><i class="fa-solid fa-user-plus"></i> Follow</a>
    {% endif %}

    <hr>

    {% for p in posts %}
        <div class="post">
            <p>{{ p[2] }}</p>
        </div>
    {% endfor %}
    
<script src="https://kit.fontawesome.com/5fa5a7fb51.js" crossorigin="anonymous"></script>
</body>
</html>