<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="layout">
        <div class="sidebar">
            <h2>Mini x</h2>

            <a href="/"><i class="fa-solid fa-house"> Home</i></a>

            <a href="/profile/{{ session['user_id'] }}">
                <i class="fa-solid fa-user"></i> Profile
            </a>

            <a href="/inbox">
                <i class="fa-regular fa-envelope"></i> Inbox
            </a>

            <a href="/logout">
                <i class="fa-solid fa-right-from-bracket"></i> Logout
            </a>
        </div>

        <div class="main">
            <div class="container">
                <h2>Hasil pencarian "{{ keyword }}"</h2>

                {% if users %}
                    {% for u in users %}
                        <div class="post">
                            <b>@{{ u[1] }}</b><br>
                            {{ u[2] or '' }}<br><br>

                            <a href="/profile/{{ u[0] }}">Profile</a>
                            <a href="/chat/{{ u[0] }}">Chat</a>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>User tidak ditemukan.</p>
                {% endif %}
            </div>
        </div>

    </div>
    
<script src="https://kit.fontawesome.com/5fa5a7fb51.js" crossorigin="anonymous"></script>   
</body>
</html>